<div class="ni-chart" role="img" [attr.aria-label]="'North Indian D1 chart'">
  <!--
    House layout (North Indian diamond):
      top diamond = house 1 (Lagna), then clockwise/counter per classical NI mapping.
    Positions below use CSS grid cells aligned to a 4×4 diamond frame.
  -->
  <div class="cell h1">
    <span class="sign">{{ signForHouse(1) }}</span>
    <span class="body" *ngFor="let l of labelsForHouse(1)">{{ l }}</span>
    <span class="body transit" *ngFor="let l of transitLabelsForHouse(1)">{{ l }}</span>
  </div>
  <div class="cell h2">
    <span class="sign">{{ signForHouse(2) }}</span>
    <span class="body" *ngFor="let l of labelsForHouse(2)">{{ l }}</span>
    <span class="body transit" *ngFor="let l of transitLabelsForHouse(2)">{{ l }}</span>
  </div>
  <div class="cell h3">
    <span class="sign">{{ signForHouse(3) }}</span>
    <span class="body" *ngFor="let l of labelsForHouse(3)">{{ l }}</span>
    <span class="body transit" *ngFor="let l of transitLabelsForHouse(3)">{{ l }}</span>
  </div>
  <div class="cell h4">
    <span class="sign">{{ signForHouse(4) }}</span>
    <span class="body" *ngFor="let l of labelsForHouse(4)">{{ l }}</span>
    <span class="body transit" *ngFor="let l of transitLabelsForHouse(4)">{{ l }}</span>
  </div>
  <div class="cell h5">
    <span class="sign">{{ signForHouse(5) }}</span>
    <span class="body" *ngFor="let l of labelsForHouse(5)">{{ l }}</span>
    <span class="body transit" *ngFor="let l of transitLabelsForHouse(5)">{{ l }}</span>
  </div>
  <div class="cell h6">
    <span class="sign">{{ signForHouse(6) }}</span>
    <span class="body" *ngFor="let l of labelsForHouse(6)">{{ l }}</span>
    <span class="body transit" *ngFor="let l of transitLabelsForHouse(6)">{{ l }}</span>
  </div>
  <div class="cell h7">
    <span class="sign">{{ signForHouse(7) }}</span>
    <span class="body" *ngFor="let l of labelsForHouse(7)">{{ l }}</span>
    <span class="body transit" *ngFor="let l of transitLabelsForHouse(7)">{{ l }}</span>
  </div>
  <div class="cell h8">
    <span class="sign">{{ signForHouse(8) }}</span>
    <span class="body" *ngFor="let l of labelsForHouse(8)">{{ l }}</span>
    <span class="body transit" *ngFor="let l of transitLabelsForHouse(8)">{{ l }}</span>
  </div>
  <div class="cell h9">
    <span class="sign">{{ signForHouse(9) }}</span>
    <span class="body" *ngFor="let l of labelsForHouse(9)">{{ l }}</span>
    <span class="body transit" *ngFor="let l of transitLabelsForHouse(9)">{{ l }}</span>
  </div>
  <div class="cell h10">
    <span class="sign">{{ signForHouse(10) }}</span>
    <span class="body" *ngFor="let l of labelsForHouse(10)">{{ l }}</span>
    <span class="body transit" *ngFor="let l of transitLabelsForHouse(10)">{{ l }}</span>
  </div>
  <div class="cell h11">
    <span class="sign">{{ signForHouse(11) }}</span>
    <span class="body" *ngFor="let l of labelsForHouse(11)">{{ l }}</span>
    <span class="body transit" *ngFor="let l of transitLabelsForHouse(11)">{{ l }}</span>
  </div>
  <div class="cell h12">
    <span class="sign">{{ signForHouse(12) }}</span>
    <span class="body" *ngFor="let l of labelsForHouse(12)">{{ l }}</span>
    <span class="body transit" *ngFor="let l of transitLabelsForHouse(12)">{{ l }}</span>
  </div>
</div>
